<a class="top" routerLink="/login">
    <button class="logout-button">Cerrar <br> Sesión</button>
</a>

<div class="contenedor-principal">
    <h1>Usuarios que Solicitan Ayuda</h1>

    <section class="requests">
      <span  *ngIf="sos">
  <div *ngFor="let user of users" class="user-card" (click)="abrirModal(user.id)">
    <span>id  usuario {{ user.id }}</span>
    <span>TEL: 5512345678</span>
  </div>
</span>

  <div *ngIf="!sos">
    <span>No hya usuarios en situación de rescate</span>
  </div>
    


    </section>
</div>
