<a class="top" routerLink="/login">
  <button class="logout-button">Cerrar <br> Sesión</button>
</a>

<div class="contenedor-principal">
  <h1>Registro de Usuarios que Solicitan Ayuda</h1>

  <section class="requests">
    <span *ngIf="sos">
      <div class="header user-card">
        <span>Nombre</span>
        <span>Teléfono</span>
      </div>
      <section class="contenido">
        <div *ngFor="let user of users" class="user-card" (click)="abrirModal(user.id)">
          <span>{{ user.name }}</span>
          <span>{{ user.cellPhone }}</span>
        </div>
      </section>
    </span>

    <div *ngIf="!sos">
      <span>No hay usuarios en situación de rescate</span>
    </div>
  </section>
</div>
