/* ***** Reset ***** */
html {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

:host {
    display: block;
    height: 100vh; /* Para que el degradado ocupe toda la altura de la pantalla */
  }
  

  h1 {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
  }

  label {
    font-family: "Inter";
    font-size: 1.4rem;
  }

  input[type="text"],
  input[type="submit"],
  input[type="password"] {
    border-style: none;
    font-family: "Inter";
    font-size: 1rem;
    border-radius: .5rem;
    height: 2.85rem;
  }

  input[type="submit"] {
    width: 36.5%;
    margin: 0 auto;
    background-color: #3664BC;
    color: #FFF;
  }

  .login {
    display: grid;
    gap: 2rem;
    width: 50vw;
    padding-top: 5.35rem;
  }

  .main {
    /* width: 60%; */
    padding-top: 3rem;
    display: flex;
    justify-content: center;
  }